import:
- logstash-plugins/.ci:travis/travis.yml@1.x

env:
  - DISTRIBUTION=default INTEGRATION=false ELASTIC_STACK_VERSION=6.x
  - DISTRIBUTION=default INTEGRATION=false ELASTIC_STACK_VERSION=7.x
  - DISTRIBUTION=default INTEGRATION=true ELASTIC_STACK_VERSION=6.x
  - DISTRIBUTION=default INTEGRATION=true ELASTIC_STACK_VERSION=7.x
  - DISTRIBUTION=default INTEGRATION=true ELASTIC_STACK_VERSION=7.x SNAPSHOT=true
  - DISTRIBUTION=default INTEGRATION=true ELASTIC_STACK_VERSION=8.x SNAPSHOT=true
  - DISTRIBUTION=default SECURE_INTEGRATION=true INTEGRATION=true ELASTIC_STACK_VERSION=7.x
  - DISTRIBUTION=oss INTEGRATION=true ELASTIC_STACK_VERSION=7.10.2 # since 7.11 no OSS artifact
