---
sudo: false
jdk: oraclejdk8
env:
- INTEGRATION=false
- INTEGRATION=true ES_VERSION=1.7.5
- INTEGRATION=true ES_VERSION=2.3.4
- INTEGRATION=true ES_VERSION=5.1.1
language: ruby
cache: bundler
rvm:
- jruby-1.7.25
script: "./travis-run.sh"
before_install: []
