---
sudo: false
jdk: oraclejdk8
env:
- INTEGRATION=false
- INTEGRATION=true ES_VERSION=1.7.5 TEST_DEBUG=true
- INTEGRATION=true ES_VERSION=2.3.4 TEST_DEBUG=true
- INTEGRATION=true ES_VERSION=5.1.1 TEST_DEBUG=true
language: ruby
cache: bundler
rvm:
- jruby-1.7.25
script: "./travis-run.sh"
before_install: []
