---
sudo: false
language: ruby
cache: bundler
env:
- INTEGRATION=false
- INTEGRATION=true ES_VERSION=1.7.6 TEST_DEBUG=true
- INTEGRATION=true ES_VERSION=2.4.4 TEST_DEBUG=true
- INTEGRATION=true ES_VERSION=5.6.9 TEST_DEBUG=true
- OSS=true INTEGRATION=true ES_VERSION=6.4.2 TEST_DEBUG=true
- OSS=false INTEGRATION=true ES_VERSION=6.4.2 TEST_DEBUG=true
- INTEGRATION=true ES_VERSION=master TEST_DEBUG=true
- SECURE_INTEGRATION=true INTEGRATION=true ES_VERSION=5.6.9 TEST_DEBUG=true
- OSS=false SECURE_INTEGRATION=true INTEGRATION=true ES_VERSION=6.4.2 TEST_DEBUG=true

rvm:
- jruby-1.7.25
matrix:
  include:
  - rvm: jruby-9.1.13.0
    env: LOGSTASH_BRANCH=master
  - rvm: jruby-9.1.13.0
    env: LOGSTASH_BRANCH=6.x
  - rvm: jruby-9.1.13.0
    env: LOGSTASH_BRANCH=6.2
  - rvm: jruby-1.7.27
    env: LOGSTASH_BRANCH=5.6
  allow_failures:
  - env: INTEGRATION=true ES_VERSION=master TEST_DEBUG=true
  fast_finish: true
install: true
script: ci/build.sh
jdk: oraclejdk8
addons:
  apt:
    packages:
    - oracle-java8-installer
